In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv('depression.csv')

In [3]:
dataset.head()

,Unnamed: 0,user_ID,followers_count,user_location,user_description,date,text,hashtags,mylabels
0,0,1.390000e+18,53,"Barcelona, Spain","For 34 years, Psych Congress has served as a u...",10/27/2021 11:45,Extended abstract submission deadline is TODAY...,NaN,2.0
1,1,2.350451e+09,30626,"Sacramento, California",Believer in creating a healthy game plan to fe...,10/27/2021 11:39,"üåüThis Fall and if you can, intentionally spend...",['anxiety'],2.0
2,2,3.345540e+09,829,"Pittsburgh, PA","Founder Motivation Champs, Publisher üìö, Screen...",10/27/2021 11:38,Proud to welcome Stephanie Kunkel to the Motiv...,NaN,3.0
3,3,1.174093e+07,3089,"Toronto, Canada",Self healing journey from ‚úùÔ∏è trauma to spiritu...,10/27/2021 11:35,How much energy do you put into keeping up app...,['travelblogger'],2.0
4,4,4.008473e+09,417,"London, England",rTMS treatment across the UK and Ireland.\r\r\...,10/27/2021 11:35,Did you know that we treat seasonal affective ...,"['seasonalaffectivedisorder', 'SAD']",2.0

In [4]:
dataset.count()

Unnamed: 0          16733
user_ID             16733
followers_count     16733
user_location       12922
user_description    16278
date                16733
text                16733
hashtags            11886
mylabels              101
dtype: int64

In [3]:
import torch
from transformers import AutoModel, AutoTokenizer 

bertweet = AutoModel.from_pretrained("vinai/bertweet-large")

tokenizer = AutoTokenizer.from_pretrained("vinai/bertweet-large")

# INPUT TWEET IS ALREADY NORMALIZED!
line = "DHEC confirms HTTPURL via @USER :crying_face:"

input_ids = torch.tensor([tokenizer.encode(line)])

with torch.no_grad():
    features = bertweet(input_ids)  # Models outputs are now tuples

Some weights of the model checkpoint at vinai/bertweet-large were not used when initializing RobertaModel: ['lm_head.layer_norm.bias', 'lm_head.layer_norm.weight', 'lm_head.decoder.bias', 'lm_head.dense.bias', 'lm_head.bias', 'lm_head.decoder.weight', 'lm_head.dense.weight']
- This IS expected if you are initializing RobertaModel from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing RobertaModel from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).
Some weights of RobertaModel were not initialized from the model checkpoint at vinai/bertweet-large and are newly initialized: ['roberta.pooler.dense.bias', 'roberta.pooler.dense.weight']
You should probably TRAIN this model on a down-stream task to be able to use it for predictions and inference.

In [8]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

analyzer = SentimentIntensityAnalyzer()

def vader_sentiment_result(sent):
    scores = analyzer.polarity_scores(sent)
    
    if scores["pos"] >= 0.55: 
        return 3
    if scores["neg"] >= 0.55: 
        return 1
    else: return 2

dataset["vader_result"] = dataset['clean_tweet'].apply(lambda x: vader_sentiment_result(x))

In [9]:
vader = list(dataset['vader_result'][:101])
miner = list(dataset['mylabels'][:101])

In [10]:
wrong = 0
for i in range(len(vader)):
    if vader[i]!=miner[i]:
        wrong+=1

In [11]:
wrong

44

In [15]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

In [16]:
data_train= dataset[:81]
data_test= dataset[:21]
data_train.head(5)

,Unnamed: 0,user_ID,followers_count,user_location,user_description,date,text,hashtags,mylabels,clean_tweet,vader_result
0,0,1.390000e+18,53,"Barcelona, Spain","For 34 years, Psych Congress has served as a u...",10/27/2021 11:45,Extended abstract submission deadline is TODAY...,NaN,2.0,extend abstract submiss deadlin today‚ùó add fin...,2
1,1,2.350451e+09,30626,"Sacramento, California",Believer in creating a healthy game plan to fe...,10/27/2021 11:39,"üåüThis Fall and if you can, intentionally spend...",['anxiety'],2.0,üåüthi fall intent spend time natur ‚ñ™Ô∏èit help de...,2
2,2,3.345540e+09,829,"Pittsburgh, PA","Founder Motivation Champs, Publisher üìö, Screen...",10/27/2021 11:38,Proud to welcome Stephanie Kunkel to the Motiv...,NaN,3.0,proud welcom stephani kunkel motiv champ famil...,2
3,3,1.174093e+07,3089,"Toronto, Canada",Self healing journey from ‚úùÔ∏è trauma to spiritu...,10/27/2021 11:35,How much energy do you put into keeping up app...,['travelblogger'],2.0,much energi put keep appear ‚Å† se jump ‚Å† #trave...,2
4,4,4.008473e+09,417,"London, England",rTMS treatment across the UK and Ireland.\r\r\...,10/27/2021 11:35,Did you know that we treat seasonal affective ...,"['seasonalaffectivedisorder', 'SAD']",2.0,know treat season affect disord #seasonalaffec...,2

In [19]:
data_train['mylabels'] = data_train['mylabels'].astype(int)

C:\Users\almag\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [20]:
data_train['mylabels'].unique()

array([2, 3, 1], dtype=int64)

In [21]:
def get_labels(self):
    return ['1', '2', '3']

In [23]:
df_bert = pd.DataFrame({
 'id':range(len(data_train)),
 'label':data_train['mylabels'],
 'alpha':['a']*data_train.shape[0],
 'text': data_train['clean_tweet'].replace(r'\n', '' , regex=True)
})
df_bert.head()

   id  label alpha                                               text
0   0      2     a  extend abstract submiss deadlin today‚ùó add fin...
1   1      2     a  üåüthi fall intent spend time natur ‚ñ™Ô∏èit help de...
2   2      3     a  proud welcom stephani kunkel motiv champ famil...
3   3      2     a  much energi put keep appear ‚Å† se jump ‚Å† #trave...
4   4      2     a  know treat season affect disord #seasonalaffec...

In [27]:
df_bert_train, df_bert_dev = train_test_split(df_bert, test_size=0.25)

In [28]:
df_bert_test = pd.DataFrame({
 'id':range(len(data_test)),
 'text': data_test['clean_tweet'].replace(r'\n', '' , regex=True)
})
df_bert_test.tail()

    id                                               text
16  16  onlin mind therapi via skype heal underli caus...
17  17  mental ill ignor #mentalillness #mentalhealth ...
18  18  #add #adhdproblems #autismawareness #adhdlife ...
19  19  üéâ#highlycitedpaper #highlyaccessedpaper depres...
20  20  ‚Äúaround  patient inflammatori bowel diseas ibd...

In [29]:
df_bert_train.to_csv('depr_train.tsv', sep='\t', index=False, header=False)
df_bert_dev.to_csv('depr_dev.tsv', sep='\t', index=False, header=False)
df_bert_test.to_csv('depr_test.tsv', sep='\t', index=False, header=True)

In [ ]:
task_name =